{
  "tabWidth": 2,
  "useTabs": false,
  "insertSpaces": true,
  "trimTrailingWhitespace": true,
  "insertFinalNewline": true,
  "trimFinalNewlines": true,
  "eol": "\n",
  "endOfLine": "auto",
  "quotes": "single"
}
